.button {
  min-width: 100px;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  &.primary {
    background-color: $primary-color;
    color: $accent;
  }
  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;
  }
  &.accent {
    background-color: $accent;
    color: $primary-color;
  }
  &.rounded {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    top: 100px;
    &:first-child {
      background: red;
      color: white;
    }
  }
}
