.marker-container {
  .info-container {
    z-index: 2;
    background-color: $accent;
    color: $primary-color;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $secondary-color;
    min-width: 150px;
    h2 {
      font-size: 1.1em;
      margin: 10px 0;
    }
  }
  .functions-container {
    top: -60px;
    left: -25px;
    position: absolute;
    z-index: 2;
    display: none;
    button {
      margin: 0 0 0 5px;
    }
    &.show {
      display: flex;
    }
  }
  .pin {
    cursor: pointer;
    transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
    transform-origin: 50% 50%;
    border-radius: 50% 50% 50% 0;
    padding: 0 3px 3px 0;
    width: 40px;
    height: 40px;
    background: $secondary-color;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2.2em 0 0 -1.3em;
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);

    &.not-active {
      background-color: $primary-color;
    }

    &::after {
      content: '';
      width: 2.5em;
      height: 2.5em;
      margin: 0.7em 0 0 0.7em;
      background: $accent;
      position: absolute;
      border-radius: 50%;
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, 0.5);
      -webkit-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, 0.5);
      box-shadow: inset -2px 2px 4px hsla(0, 0, 0, 0.5);
    }
  }
}
