.new-location-page {
  display: flex;
  flex-direction: row;

  .map-wrapper {
    height: 92vh;
    flex: 1.5;
  }

  .form {
    display: flex;
    flex-direction: column;
    background-color: $accent;
    flex: 1;
    label {
      margin: 10px 0;
      input {
        margin-left: 10px;
      }
    }
  }
}
