.new-location-page {
  display: flex;
  flex-direction: row;

  .map-wrapper {
    height: 92vh;
    flex: 1.5;
  }

  .form {
    display: flex;
    flex-direction: column;
    background-color: $accent;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

    & > p {
      align-self: flex-start;
      .coordinate {
        color: $primary-color;
      }
    }
    label {
      width: 100%;
      margin: 10px 0;
      div {
        margin: 10px 0 10px 10px;
      }
      input {
        margin-left: 10px;
        border-radius: 15px;
        min-height: 30px;
        padding: 5px 15px;
        outline: none;
        border: 1px solid $primary-color;
        width: 80%;
      }
    }
  }

  .button-wrapper {
    display: flex;
    width: 100%;
    margin-top: 20px;
    button {
      margin: 0 10px;
    }
  }
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  svg path,
  svg rect {
    fill: $secondary-color;
  }
}
